esphome:
  name: 1sthome-1f-2nd
  friendly_name: 1sthome-1f-2nd

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "Ppx+52tzx1jZRGoiU06AkDoi09BBuZ0O98MxfL5nzdk="

ota:
  - platform: esphome
    password: "5e532992bc8496b5d80871c917a093b0"

wifi:
  ssid: !secret wifi_ssid_1sthome-1f-1st
  password: !secret wifi_password_1sthome-1f-1st

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "1Sthome-1F-2Nd Fallback Hotspot"
    password: "1VaMicS3DVux"

esp32_ble_tracker:
  scan_parameters:
    interval: 1100ms
    window: 1100ms
    active: true

bluetooth_proxy:
  active: true

captive_portal:
    